__pycache__/
*.py[cod]

# Environments / tooling
.venv/
.mypy_cache/
.ruff_cache/

# Coverage / test
*.coverage
.coverage*
.htmlcov/
htmlcov/
.pytest_cache/

# Local editor config
.vimrc

# Cloned by `make e2e`
.cache/
